.posts-list {
  padding: 1;
}

.posts-list-item {
  list-style: none;
  padding: 0.4em 0;

  &:not(:last-child) {
    border-bottom: 2px dashed rgba(255, 255, 255, 1);
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}
